{% extends "base.html" %}
{% block content %}
<style>
    .image-class {
        
    }
</style>
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" 
  style="background-image: url('https://media.istockphoto.com/photos/gourmet-chef-cooking-in-a-commercial-kitchen-picture-id866699668?b=1&k=20&m=866699668&s=170667a&w=0&h=yTgInh3AkI4mncMCJ9WYd0h3shy0g0p2R7QVo7O2PgI='); padding: 200px; background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%;"
>
  <h1 class="mb-3 h2" ></h1>
  
  
  <p><button class="header" style="background-color: black; color: white; font-size: 40px; font-family: 'Gluten', cursive;
    ">Career Motivators</button><br> 
  </p>
  </div>
</div>
<!-- Jumbotron -->

{% endblock %}