{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content%}


    <div class="container">
        <div class="col-md-12">
            <h3>Create a new sale</h3>
            <hr>
            {{ wtf.quick_form(pitch_form) }}
        </div>

    </div>
  


     <!-- <div class="col-md-4">
          <div class="well well-lg">
              <h3>Poetry Pitches</h3>
              <p>Welcome to the hub of amazing poetry</p>
              <a href="{{url_for('cart.poetry_pitches')}}" class="btn btn-primary -center">View</a>
          </div>
      </div>-->
  </div>
  <br><br><br><br>

{% endblock %}






