<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Kalam&display=swap" rel="stylesheet">
<style>
    /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="navbar navbar-dark" role="navigation" style="margin-bottom:0; border-bottom: 1px solid; padding: 30px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" style="background-color: black; color: white;font-family: 'Gluten', cursive;
            "> StreetDine </a>
        </div>
        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('main.index')}}">Home</a></li>
                    <li><a href="{{url_for('cart.post')}}">Sell a Product</a></li>
                    <li><a href="{{url_for('cart.buy')}}"">Book a Trader</a></li>
                
                    <li><div class="dropdown" style="margin-top: 1.2rem; color: #04AA6D;">
                        FAQs
                        <div class="dropdown-content">
                          <a href="{{url_for('faqs.bussiness_idea')}}">Is food bussiness for you?</a>
                          <a href="{{url_for('faqs.about')}}">Contact us</a>
                        
                        </div>
                      </div></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                       
                            <li><a href="{{url_for('profile.profile', uname=current_user.username)}}">Profile</a></li>
                            <li><a href="{{url_for('cart.user_items', uname=current_user.username)}}">My Cart</a></li>
                            <li role="separator" class="divider"></li>
                        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                          

                            
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}">Login</a></li>
                </ul>
                {% endif %}
            </div>
            <div class="container-fluid" style="background-color: #912F56; ">
          </div>    
    </div>
</div>